.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.item a{
    text-decoration: none;
}
 .active{
    color: deeppink;
}

.messages {
    padding: 10px;
}

.message {

}
