.header {
    grid-area: h;
    background: forestgreen;
}

.header img{
    width: 140px;
    height: 100px;

}

.loginBlock{
    float: right;
}

.loginBlock a{
    color: white;
    text-decoration: none;
}